/* GENERAL STYLES */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
}

:root{
    --bg-color: #0b132b;
    --primary-color: #6fffe9;
    --secondary-color: #5bc0be;
    --third-color: #3a506b;
}

body{
    background-color:var(--bg-color);
    color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER STYLES */
header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hd-title{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}


/* MAIN STYLES */
main{
    width: 100%;
    min-height: 485px;
    margin-bottom: 30px;
}

.main-content{
    width: 100%;
}

  /* HOME STYLES */
.home-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.home-container p{
    font-style: italic;
    color: var(--secondary-color);
}

.home-image{
    width: 80%;
    height: 300px;
    margin: 15px 0;
}

.home-image img{
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    box-shadow: 3px 4px 3px var(--third-color);
}

#home-cta {
    text-decoration: none;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#home-cta:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 2px 2px 2px var(--third-color);
}

/* FOOTER STYLES */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}


/* RESPONSIVE DESIGN */
@media (min-width: 768px) {
    *, *::before, *::after {
        font-size: 24px;
    }
    
    header{
        height: 120px;
    }

    .home-image{
        width: 50%;
        height: auto;
    }
}